@page "/games"
@using Hako.Web.Services
@rendermode InteractiveServer
@inject GamesService GamesService
<h3>Games</h3>

<button @onclick="ButtonClicked" class="btn btn-primary">Call Games API</button>
@code {

    public async void ButtonClicked()
    {
        var games = await GamesService.GetGames();
    }
}
